header{
    padding-top:8vh;
    padding-bottom: 8vh;
    background-color: rgb(26, 45, 69);
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: 1;
    
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 65%;
    position: absolute;
    z-index: -1;
}
.header1{
    position: absolute;
    left: 1vh;
    cursor: pointer;
}
.header2{
    position: absolute;
    right: 1vh;
}
.headline{
    font-size: 5vh;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    color: White;
    font-family: Roboto Condensed,system-ui;
}
.cut{
    font-size: 35px;
}
.name{
    font-size: 60px;
}
.hover-link {
  background-color: #896c0b; 
  color: white;         
  padding: 15px 30px;
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hover-link:hover {
  background-color: #008CBA; 
  color: black;     
  border-radius: 15px;  
}

 .login{
  position: absolute;
  /* background-color: white; */
   top:20px;
  right:50px;
  font-size: 20px;
} 

.menu-bar {
    background-color: rgb(177, 177, 177);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    position: relative;
    z-index: 100;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .menu-bar ul li {
    width: auto;   
    padding: 10px 30px;
    position: relative;
  }
  .menu-bar ul li a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    transition: all 0.3s;
    background-color: rgb(12, 23, 23);
    padding: 20px;
    border-radius: 10px;
  }
  @media only screen and (max-width: 1100px) {
    .menu-bar ul li a {
      font-size: 10px; 
    }
  }
  .menu-bar ul li a:hover {
    color: rgb(37, 3, 205);
    background-color: rgb(156, 194, 33);

  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
 
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: transparent;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 20px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    /* width: 150px; */
    padding: 30px 10px;
  }
  .dropdown-menu-1 {
    display: none;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color:transparent;
  }
  .parent-container {
    margin-top: 30px;
    background-color:gray;
    height: fit-content;
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
  }
  .leftcontainer{
    width:50%;
    border-right: 100px;
    border-color: black;
    padding: 30px;
    margin: 10px 20px;
    font-size: 15px;
    background-color: antiquewhite;
  }
  .leftcontainer h1{
    text-align: center;
  }
  
  .subcontainer{
    background-color: black;
    width: 50%;
    margin: 10px 20px;
    animation: anm;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /* animation; */
    /* animation-play-state: paused; */
    
    position: relative;
  }
  .imgg{
    float: left;
    width:00%;

  }
  @keyframes anm{
    0%{
      background: url(assets/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    50%{
      background: url(assets/picture-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    100%{
      background: url(assets/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .footer{
    background-color: rgb(17, 17, 57);
    display: flex;
    justify-content: space-around ;
    position: relative;
    height:400px;
  }
  .footer .maps{
    margin: 2% 3%;
    width: 45%;
    height: 40vh;
    position: relative;
  }
  .footer .maps a{
    position: absolute;
    padding-left: 30px;
    top: 30px;
    color: white;
    font-size: 25px;
  } 
  .footer .maps iframe{
    margin-top:70px;
    margin-left: 20px;
    /* padding-left: 5vh; */
    aspect-ratio: 4/3;
    /* height: 80%; */
    width: 80%;
  }
  .footer .contacts{
    width: 30%;
    /* background-color: aqua; */
    text-decoration: none;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #00aed9; */
  }
  .footer .contacts a,.contacts h1{
    text-decoration: none;
    color:white;  
  }
  .footer .socials{
    width: 30%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color :white;
  }
  .footer .socials a{
    text-decoration: none;
    color:white;
    font-size:x-large;
  }
  .credit{
    height: 40px;
    background-color:black;
    color:aliceblue;
    position: relative;
    display: flex;
    align-items: center;
  }
  .credit .left{
    width: 50%;
    height: inherit;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .credit .right{
    width: 50%;
    height: inherit;
    /* background-color: rgb(194, 80, 80); */
    text-align: center;
  }
  .noticeboard{
    display: flex;
  }
  .width-33 {
    width:33%;
    float:left;
  }
  .event-date {
    background: #03a9f4;
    width: 30px;
    float: left;
    text-align: center;
    font-size:14px;
    color: #fff;
    padding:8px;
	    margin-right: 10px;
}
.heading-sect h3{
	color:white;
}
.latest-news{
	margin-left:10px;
	margin-right:10px;
	background:#fff;
	padding:20px;
	height:350px;
	margin-bottom:30px;
}
.event-list{
	margin-left:10px;
	margin-right:10px;
	background:#fff;
	padding:20px;
	height:350px;
	margin-bottom:30px;
}
.notice-board{
	margin-left:10px;
	margin-right:10px;
	background:#fff;
	padding:20px;
	height:350px;
	margin-bottom:30px;
}
.heading-sect{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15px;
    padding-top: 2px;
	  border: 1px solid #cfcfcf;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
	  color:white;
}
.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif!important;
    color: #2196f3;
    padding-bottom: 5px;
}
.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.upcoming-event-list{
    padding:0px;
     list-style:none;
}
.notice-board-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.notice-board-list{
padding:0px;
}
.latest-news-ul{
	padding:0px;
  list-style:none;
  line-height: 40px;
}